### Demographic analyzer
#### Second Project

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("../csv/adult.data.csv")
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [2]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [80]:
race_count = df["race"].value_counts()
type(race_count)

pandas.core.series.Series

In [4]:
filter_male = df["sex"]=="Male"
df.age[filter_male].mean()

39.43354749885268

In [89]:
bachelors_number = len(df.education[df["education"]=="Bachelors"])
total_population = len(df)

percentage_bachelors = bachelors_number/total_population
formatted_percentage_bachelors = "{:.0%}".format(percentage_bachelors)

formatted_percentage_bachelors_1 = "{:.10%}".format(percentage_bachelors)

In [6]:
df["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [7]:
df["salary"].unique()

array(['<=50K', '>50K'], dtype=object)

In [8]:
rich_with_degrees = df[(df["salary"]==">50K") & ((df["education"]=="Bachelors")|(df["education"]=="Masters")|(df["education"]=="Doctorate"))]

total_with_degrees = df[(df["education"]=="Bachelors")|(df["education"]=="Masters")|(df["education"]=="Doctorate")]

In [90]:
percentage_rich = len(rich_with_degrees)/len(total_with_degrees)
formatted_percentage_rich = "{:.2%}".format(percentage_rich)

formatted_percentage_rich

'46.54%'

In [10]:
rich_without_degrees = df[(df["salary"]==">50K") & ((df["education"]!="Bachelors") & (df["education"]!="Masters") & (df["education"]!="Doctorate"))]

total_without_degrees = df[((df["education"]!="Bachelors") & (df["education"]!="Masters") & (df["education"]!="Doctorate"))]

In [11]:
percentage_rich_nodegree = len(rich_without_degrees)/len(total_without_degrees)
formatted_percentage_rich_nodegree = "{:.2%}".format(percentage_rich_nodegree)

formatted_percentage_rich_nodegree

'17.37%'

In [12]:
df["hours-per-week"].min()

1

In [13]:
people_working_min = df[df["hours-per-week"] == df["hours-per-week"].min()]

rich_people_working_min = df[(df["hours-per-week"] == df["hours-per-week"].min()) & (df["salary"]==">50K")]

In [22]:
percentage_rich_work_min = len(rich_people_working_min)/len(people_working_min)
formatted_percentage_rich_work_min = "{:.2%}".format(percentage_rich_work_min)

formatted_percentage_rich_work_min

'10.00%'

In [15]:
df["native-country"].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [16]:
df["native-country"].replace("Trinadad&Tobago","Trinidad&Tobago",inplace=True)

In [18]:
df["native-country"].replace("?",np.nan,inplace=True)

In [19]:
df["native-country"].dropna(inplace=True)

In [25]:
country = df["native-country"]

In [40]:
check = []

for i in df["native-country"].unique():
    rich = len(df[(df["native-country"]==i) & (df["salary"] == ">50K")])
    check.append(rich)

check

[7171,
 25,
 10,
 40,
 0,
 33,
 16,
 12,
 1,
 30,
 39,
 44,
 18,
 61,
 25,
 12,
 2,
 7,
 3,
 4,
 2,
 20,
 4,
 4,
 2,
 9,
 12,
 3,
 20,
 24,
 6,
 2,
 0,
 3,
 2,
 8,
 2,
 5,
 6,
 5,
 3,
 0]

In [61]:
countries_and_perc = {}
for i in df["native-country"].unique():
    total_natives_of_country = len(df[country==i])
    rich_people_of_country = len(df[(df["native-country"]==i) & (df["salary"] == ">50K")])
    
    if rich_people_of_country != 0:
        perc_rich_people_of_country = rich_people_of_country/total_natives_of_country
        countries_and_perc[i] = perc_rich_people_of_country

countries_and_perc

{'United-States': 0.24583476174151525,
 'Cuba': 0.2631578947368421,
 'Jamaica': 0.12345679012345678,
 'India': 0.4,
 'Mexico': 0.05132192846034215,
 'South': 0.2,
 'Puerto-Rico': 0.10526315789473684,
 'Honduras': 0.07692307692307693,
 'England': 0.3333333333333333,
 'Canada': 0.32231404958677684,
 'Germany': 0.32116788321167883,
 'Iran': 0.4186046511627907,
 'Philippines': 0.30808080808080807,
 'Italy': 0.3424657534246575,
 'Poland': 0.2,
 'Columbia': 0.03389830508474576,
 'Cambodia': 0.3684210526315789,
 'Thailand': 0.16666666666666666,
 'Ecuador': 0.14285714285714285,
 'Laos': 0.1111111111111111,
 'Taiwan': 0.39215686274509803,
 'Haiti': 0.09090909090909091,
 'Portugal': 0.10810810810810811,
 'Dominican-Republic': 0.02857142857142857,
 'El-Salvador': 0.08490566037735849,
 'France': 0.41379310344827586,
 'Guatemala': 0.046875,
 'China': 0.26666666666666666,
 'Japan': 0.3870967741935484,
 'Yugoslavia': 0.375,
 'Peru': 0.06451612903225806,
 'Scotland': 0.25,
 'Trinidad&Tobago': 0.10526315789473684,
 'Greece': 0.27586206896551724,
 'Nicaragua': 0.058823529411764705,
 'Vietnam': 0.07462686567164178,
 'Hong': 0.3,
 'Ireland': 0.20833333333333334,
 'Hungary': 0.23076923076923078}

In [56]:
def get_keys_from_value(dictionary,value_to_retrieve):
    """Retrieve the list of keys associated with a given value in a dictionary."""
    retrieved_keys = []
    for key,value in dictionary.items():
        if value == value_to_retrieve:
            retrieved_keys.append(key)
    return retrieved_keys

In [94]:
max_percentage_dictionary = np.max(list(countries_and_perc.values()))

country_max_percentage = get_keys_from_value(countries_and_perc,max_percentage_dictionary)

country_max_percentage

['Iran']

In [98]:
rich_indian_people = df[(df["native-country"]=="India") & (df["salary"]==">50K")]

rich = rich_indian_people["occupation"].mode()

rich.values[0]

'Prof-specialty'